# Dependencias
/node_modules
/vendor

# Archivos generados por Laravel
/public/hot
/public/storage
/storage/*.key

# Archivos de entorno y configuración sensible
.env
.env.*.php

# Caché de PHPUnit
.phpunit.result.cache

# Archivos y carpetas de configuración de IDEs
/.idea
/.vscode

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y archivos de error
npm-debug.log
yarn-error.log

# Archivos de configuración de Homestead (si usas esta herramienta)
/Homestead.json
/Homestead.yaml

*.zip

